body {
  background-color: #1d267d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-title {
  font-size: 60px;
}
@media screen and (min-width: 536px) {
  .main-title {
    font-size: 70px;
  }
}

.container--title {
  font-size: 18px;
}
@media screen and (min-width: 536px) {
  .container--title {
    font-size: 24px;
  }
}

.question--text {
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 536px) {
  .question--text {
    font-size: 30px;
  }
}

.results--title {
  font-size: 40px;
}
@media screen and (min-width: 536px) {
  .results--title {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  .results--title {
    font-size: 65px;
  }
}
.results .container--title {
  font-size: 24px;
}

.btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.btn--primary {
  min-width: 250px;
  font-size: 24px;
  width: 60%;
  background-color: #1d267d;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
}
.btn--start {
  padding: 20px 30px;
}
.btn--answer {
  text-align: left;
  display: block;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.btn--correct {
  background-color: #90ee90;
}
.btn--wrong {
  background-color: #f08080;
}
.btn--disabled {
  background-color: #d3d3d3;
}

.main-content {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.main-content .btn--start {
  width: 100%;
}
@media screen and (min-width: 536px) {
  .main-content .btn--start {
    width: 60%;
  }
}
.main-content .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  width: 100vw;
  max-width: 800px;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px 25px;
}
@media screen and (min-width: 536px) {
  .main-content .container {
    width: 80vw;
  }
}
@media screen and (min-width: 768px) {
  .main-content .container {
    width: 60vw;
  }
}

.main-content .question {
  position: relative;
  display: block;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.main-content .question--text {
  display: inline-block;
  margin-top: 30px;
}
.main-content .question .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content .question .btn-group {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .main-content .question .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main-content .question .btn--next, .main-content .question .btn--menu {
  margin: 5% auto 0;
  display: block;
  width: 100%;
  font-size: 18px;
}
@media screen and (min-width: 536px) {
  .main-content .question .btn--next, .main-content .question .btn--menu {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .main-content .question .btn--next, .main-content .question .btn--menu {
    width: 20%;
  }
}
.main-content .question .answer-list {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 536px) {
  .main-content .question .answer-list {
    margin-top: 40px;
  }
}

.main-content .results .btn-group {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.main-content .results .btn-group .btn {
  width: 100%;
}
@media screen and (min-width: 536px) {
  .main-content .results .btn-group {
    width: 60%;
  }
}/*# sourceMappingURL=styles.css.map */