.main-title {
  font-size: 60px;
  @media screen and (min-width: $mobile) {
    font-size: 70px;
  }
}
.container--title {
  font-size: 18px;
  @media screen and (min-width: $mobile) {
    font-size: 24px;
  }
}

.question {
  &--text {
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    @media screen and (min-width: $mobile) {
      font-size: 30px;
    }
  }
}

.results {
  &--title {
    font-size: 40px;
    @media screen and (min-width: $mobile) {
      font-size: 50px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 65px;
    }
  }
  .container--title {
    font-size: 24px;
  }
}
