.main-content {
  .question {
    position: relative;
    display: block;

    min-height: fit-content;

    &--text {
      display: inline-block;
      margin-top: 30px;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn-group {
      width: 100%;
      @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;

        justify-content: space-between;
      }
    }

    .btn {
      &--next,
      &--menu {
        margin: 5% auto 0;
        display: block;
        width: 100%;
        font-size: 18px;

        @media screen and (min-width: $mobile) {
          width: 80%;
        }
        @media screen and (min-width: $desktop) {
          // margin-right: 0;
          width: 20%;
        }
      }
    }

    .answer-list {
      width: 100%;
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (min-width: $mobile) {
        margin-top: 40px;
      }
    }
  }
}
